.activate-terms-header {
  align-items: center;
  display: flex;
  width: 103.5%;
  height: 60px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  background-color: #1B3765;
}

.body-activate {
  color: black;
  background-color:#b6cae4 ;
}

.activate-terms-footer {
  width: 103.5%;
  height: 72px;
  border-radius: 0px 0px 6px 6px;
  background-color: #fbfbfb;
}

.terms-logo {
  width: 25px;
  height: 25px;
  object-fit: fill;
  padding-left: 5px;
  margin-left: 83px;
}

.terms-p {
  margin-top: 14px;
  font-weight: 600;
  margin-left: 6px;
  color: white;
}

.label-activate {
  margin-top: 4px;
  margin-left: 40px;
}

.tfooter-links {
  display: flex;
  justify-content: space-around;
}

.btn-accept {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  background-color: #505c71;

  &:hover {
    color: white;
    background-color: #4d648d;
  }
}

.btn-view {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  background-color: #c45353;

  &:hover {
    color: white;
    background-color: #d24747;
  }
}
