.contact {
  margin-top: 100px;
}

.element-container1 {

}

.container_parent {
  display: flex;
}


.class-img > img {
  object-fit: cover;
  width: 90%;
  height: 600px;
}

.element-container3 {
  height: 470px;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 38px 60px;
}

.container-mid {

}
