// Specific CSS for your home-page
.home-body {
  background-image: url("https://images.unsplash.com/photo-1496307653780-42ee777d4833?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
//value section
.value-sec {
  overflow: hidden;
  padding: 49px 0 54px;
  margin-left: -114px;
  padding: 50px 0px 50px 0px;
  background-image: linear-gradient(90deg, #f0ecec 10%, #e8ecf1 90%);
  margin-left: -114px;
  img {
    vertical-align: middle;
    object-fit: cover;
  }

  .header {
    padding: 0 0 0 20px;
    margin: 0 0 48px;
  }

  .heading1 {
    margin: 0 0 20px;
  }

  .choose-list {
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 18px;
  }
}

.containerval {
  margin-left: 207px;
}

.header {
  line-height: 30px;
}

.heading1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 600;
}

.img-val {
  border-radius: 16px ;
}

.list-unstyled {
  list-style: none;
}

.flexvertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heading2 {
  margin: 0 0 20px;
}

.spacingval {
  margin-top: 15px;
}

@media only screen and (min-width: 1400px) {
  .col-custom-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}


// testimonials section
.section-testimonials {
  background-color: #ededf1;;
  margin-bottom: 83px;
}

.section-first {
  padding: 90px 0 100px 0;
}

.section-bottom-border {
  border-bottom: 1px solid #ededf1;
}

.section-top-border {
  border-top: 1px solid #ededf1;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.section-title {
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 18px;
}

.testim-inner {
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  padding: 0 25px 25px 25px;
  border: 1px solid #e5efff;
  background-color: #ffffffbc;
  border-radius: 7px 7px;
  transition: all 1s;
  height: 19rem;

  &:hover {
    border: 1px solid #1089d4;
    transition: 0.8s ease;
  }
}

.testim-inner:hover img {
  border: 1px solid #1089d4;
}

.testim-inner img {
  position: relative;
  display: inline-block;
  margin-top: -55px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50% 50%;
  padding: 5px 5px;
  background-color: #fff;
}

.testim-inner p {
  font-size: 17px;
  line-height: 28px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #7c8595;
}

.testim-inner h6 {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #1089d4;
}

//Collaborators
#collaborators {
  overflow: hidden;
  padding-bottom: 90px;
  background-color: #ededf1;
  margin-top: 113px;
}

.heading-collab {
  margin-bottom: 50px;
  h2 {
    margin-bottom: 10px;
    font-size: 36px;
}
  }


.heading-collab-bg {
  margin-bottom: 20px;

  h2 {
    z-index: 3;
    position: relative;
  }
}

.brand img {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.img-responsive {
  width: 150px;
  height: 90px;
}
