.h2-indexchat {
  margin-top:20px;
  text-align: center;
}

.agent-userz {
  border: solid 1px #3c8df5!important;
  border-style: solid solid none!important;
  border-radius: 8px 8px 0px 0px!important;
  background-color: #3c8df5!important;
}

.img-agent-userz {
  width: 50px!important;
  height: 50px!important;
  object-fit: cover!important;
  border-radius: 50%!important;
  margin-left: 16px!important;
  margin-top: 9px!important;
}

.name-agent-userz {
  margin-left: 10px!important;
  margin-top: 11px!important;
  color: white!important;
}

.convo-msg {
  border: 1px solid #3c8df5!important;
  border-style: none solid solid!important;
  padding-left: 75px!important;
  padding-top: 0px!important;
  margin-top: -25px!important;
  margin-bottom: 17px!important;
  padding-bottom: 13px!important;
  border-radius: 0px 0px 8px 8px!important;
  background-color: #3c8df5!important;
  color: #d1e4fd!important;
}
