.body-new-tender{
  background-image: asset-url('undraw_city_life_gnpr.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 96vh 50vw;

}

.new-tender-form{
  margin-bottom: 32px;
}
