.body-newbid {
  background-color: #e7e9f1;
}

.section-newbid {
  background-image: asset-url('newbid.png');
  background-size: 66em;
  background-repeat: no-repeat;
  background-position: 50% 62px;
  height: 100vh;
  width: 100vw;
}
