.section-newtestim {
  height: 100vh;
  width: 100vw;
  background-color: #dae6f361;
  background-size: 84vh 50vw;
  background-image: asset-url('reviews.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.form-testim {
  border-radius: 8px;
  height: 38px;
}

.btn-review {
  margin-left:70px;
  padding-left:110px;
  padding-right:111px;
  margin-top: 6px;
  border-radius:4px;
  background-color: #C45353;
  border-color:#C45353;
}

#testimonial_rating {
  border-radius:8px;
}

#testimonial_content {
  border-radius:8px;
}

.form-indextender {
width: 568px;
  border-radius: 8px 8px 8px 8px;
}
// form
// style: "padding-right: 327px; border-radius: 18px 0px 0px 18px;"
// btn
// style:"margin-left:0; border-radius: 0px 16px 16px 0px; text-align:center; padding-left:23px; height:38px;" %>
// post
// style:"margin-right: 31px;" %>
