.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

// #carousel-picture-tender {
//   margin-top: 40px;
//   margin-left: 20px;
//   object-fit: fill;
// }
.info1 {
  margin-left: 20px;
  margin-top: 40px;
}
.info2 {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.project-detail-list{
  margin-top: 10px;
  list-style-type: none;
}

.link{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}


.project-detail-list li {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.6rem;
  margin-top: 0.65rem;
  overflow: hidden;
}

.project-detail-list li .right {
  float: right;
}

.project-detail-list li .left {
  float: left;
  font-weight: bolder;
  color: black;
}

.div4{
  margin-right: 10px;
  border-radius: 24px;
}

.div1{
  position: sticky;
  top: 4rem;
}

// .map {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   transition: 200ms ease-in-out;
//   border: 1px solid black;
//   border-radius: 4px;
//   z-index: 10;
//   background-color: white;
//   width: 500px;
//   max-width: 80%;
// }

// .map.active {
//   transform: translate(-50%, -50%) scale(1);
// }

// .modal-header {
//   padding: 10px 15px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-bottom: 1px solid black;
// }

// .modal-header .close-button {
//   cursor: pointer;
//   border: none;
//   outline: none;
//   background: none;
//   font-size: 1.25rem;
//   font-weight: bold;
// }

// #overlay {
//   position: fixed;
//   opacity: 0;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   pointer-events: none;
// }

// #overlay.active {
//   opacity: 1;
//   pointer-events: all;
// }

.map {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* height: 200px; */
    border: 3px solid green;
    margin-left: 248px;
}


.map-resize {
  width: 400px;
  height: 600px;
  object-fit: fill;
}
