// .body-bidshow
// {
// 	background:#fff;
// 	font-family:helvetica, arial, sans-serif;
// 	color:#333;
// 	line-height:18px;
// 	font-size:11px;
// }

// .a-bidshow
// {
// 	color:#ff00c0;
// 	text-decoration:none;
// }

// .a-bidshow:hover
// {
// 	text-decoration:none;
// }

// b
// {
// 	font-weight:700;
// }

// blockquote
// {
// 	color:#aaa;
// 	padding:10px;
// }

// .h1-bidshow,.h1-bidshow .a-bidshow
// {
// 	text-decoration:none;
// 	line-height:30px;
// 	font-size:30px;
// 	color:#333;
// }

// .h2-bidshow,.h2-bidshow .a-bidshow
// {
// 	text-decoration:none;
// 	line-height:26px;
// 	font-size:26px;
// 	color:#333;
// }

// .h3-bidshow,.h3-bidshow .a-bidshow
// {
// 	text-decoration:none;
// 	line-height:22px;
// 	font-size:22px;
// 	color:#333;
//   margin-bottom: 15px;
// }

// .h4-bidshow,.h4-bidshow .a-bidshow
// {
// 	text-decoration:none;
// 	line-height:18px;
// 	font-size:18px;
// 	color:#333;
// }

// .h5-bidshow,.h5-bidshow .a-bidshow
// {
// 	text-decoration:none;
// 	line-height:14px;
// 	font-size:14px;
// 	color:#333;
// }

// .p-bidshow
// {
// 	margin-bottom:10px;
// }

// small
// {
// 	font-size:10px;
// }

// .clear-bidshow
// {
// 	clear:both;
// }

// #container-bidshow
// {
// 	width:960px;
// 	margin:110px auto;
// }

// .fourcolcontent-bidshow
// {
// 	float:left;
// 	width:710px;
// 	padding-right:10px;
// 	position:relative;
// }

// .fourcolside-bidshow
// {
// 	float:left;
// 	width:230px;
// 	padding-right:10px;
// 	position:relative;
// }

// .divider-bidshow
// {
// 	height:7px;
// 	width:100%;
// 	background:#333;
// 	margin:30px 0;
// }

// .tag-bidshow
// {
// 	text-align:right;
// 	right:965px;
// 	position:absolute;
// 	background:#ff00c0;
// 	color:#fff;
// 	text-transform:uppercase;
// 	padding:2px;
// }

// #header-bidshow
// {
// 	height:55px;
// 	background:#fff;
// 	left:0;
// 	position:fixed !important;
// 	position:absolute;
// 	right:0;
// 	top:0;
// }

// #headerinner-bidshow
// {
// 	margin:0 auto;
// 	width:960px;
// }

// #header-bidshow .fourcolside-bidshow
// {
// 	overflow:hidden;
// }

// #title-bidshow h1 a
// {
// 	color:#333;
// 	font-size:21px;
// 	line-height:80px;
// 	font-weight:700;
// }

// #description-bidshow h3
// {
// 	color:#333;
// 	font-size:16px;
// 	line-height:80px;
// }

// #navigation-bidshow a
// {
// 	line-height:80px;
// 	padding:0 10px;
// }

// #recent-bidshow .post-bidshow h3 a
// {
// 	font-size:36px;
// 	line-height:36px;
// 	color:#333;
// 	padding-bottom:10px;
// 	font-weight:700;
// }

// #recent-bidshow .fourcolside-bidshow h5 a
// {
// 	font-size:72px;
// 	text-align:center;
// 	line-height:72px;
// 	padding-top:36px;
// 	display:block;
// 	font-weight:700;
// }

// #comments-bidshow
// {
// 	text-align:center;
// }

// #recent-bidshow,#older-bidshow,#navigate-bidshow
// {
// 	position:relative;
// }

// #older-bidshow .post-bidshow
// {
// 	color:#aaa;
// 	max-height:144px;
// 	overflow:hidden;
// 	border-bottom:7px solid #fff;
// 	margin-bottom:3px;
// }

// #older-bidshow .post-bidshow:hover
// {
// 	border-bottom:7px solid #ff00c0;
// 	color:#888;
// }

// #older-bidshow .post-bidshow:hover h3
// {
// 	color:#333;
// }

// #older-bidshow .more a
// {
// 	font-size:60px;
// 	line-height:60px;
// 	text-transform:uppercase;
// 	color:#aaa;
// 	background:#ddd;
// 	margin-top:10px;
// 	display:block;
// 	text-align:center;
// 	padding:10px;
// }

// #older-bidshow .more-bidshow a:hover
// {
// 	color:#999;
// 	background:#ccc;
// }

// #navigate-bidshow .fourcolside-bidshow ul li
// {
// 	display:inline;
// }

// #navigate-bidshow .fourcolside-bidshow ul li a
// {
// 	display:block;
// 	color:#aaa;
// 	padding:2px;
// }

// #navigate-bidshow .fourcolside-bidshow ul li a:hover
// {
// 	color:#ff00c0;
// }

// #older-bidshow .post-bidshow h3,#navigate-bidshow .fourcolside-bidshow h3
// {
// 	font-size:18px;
// 	line-height:18px;
// 	color:#999;
// }

// .section-bidshow {
//   min-height: 100vh;
//   width: 100vw;
// }

.container-bidshow {  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Content Content Side-banner"
    "Content Content Side-banner"
    "Content Content Side-banner";
  height: 100vh;
}

.Content {
  grid-area: Content;
  background-color: #fff;
  z-index: -1;
}

.Side-banner {
  border: 1px blue solid;
  grid-area: Side-banner;
  background-image: url('house.jpg');
  background-size: cover;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

.title-bidshow {
  z-index: 1;
  margin-bottom: -55px;
  h2 {
    width: 60%;
    margin-top: -25px;
    z-index: 1;
    margin-left: 4em;
    text-align: center;
    height: 71px;
    font-size: 52px;
    font-weight: 600;
    background-color: #223040;
    color: #fffefe;
    font-family: sans-serif;
    padding: 5px;
    letter-spacing: 2.5px;
  }
}

.banner-showbid {
  z-index: -1;
}

.section-bidshow {
  height: 100vh;
  width: 100vw;
}

.container-bidshow {
  min-height: 110vh;
  border: 2px red solid;
}
