<br><br><br>
<body class="body-activate">
  <section class="section-activate" style="height:100vh;">
    <div>

    <div class="container" style="margin:auto; width:45vw;">
      <div class="activate-terms-header">
        <%= image_tag 'logo-white.png',class:"terms-logo", style:"width:30px; height:30px; object-fit:cover;" %>
        <p class="terms-p">Anubatir Terms of Contract Agreement</p>
      </div>
      <div style="overflow-y: scroll; height:505px; width:45vw; background-color:white;">
        <%= render "pages/terms", bid: @bid %>
      </div>
      <div class="activate-terms-footer">
        <div>
          <form action="Accept button" method="get">
            <label class="label-activate" id="accepted"><input type="checkbox" name="link2" value="link">  I Agree to the Terms of Contract Agreement and I read the Privacy Notice.</label>
          </form>
        </div>
        <div class="tfooter-links">
          <%= button_to "View Receipt", tender_bid_path(@bid.tender, @bid, format: :pdf), target:"_blank", id:"bill", class:"btn btn-view", disabled:"disabled"%>
          <%= button_to "Accept", new_tender_bid_contract_path(@tender, @bid), id:"done", class:"btn btn-accept", disabled:"disabled"%>
        </div>
      </div>
    </div>
  </section>
  <script>
    $('#accepted').click(function () {
  if ($('#accepted:checked').length == 1)
    $('#bill').removeAttr('disabled');
     $('#done').removeAttr('disabled');
  else
    $('#bill').attr('disabled','disabled');
    $('#done').attr('disabled','disabled');
});
  </script>
</body>
<%# render-div: height=505px; header: height=60px; footer: height:72px  %>
