<br><br><br><br><br>
<h2>Direct Messages</h2>
<ul>
  <% @user.participants.reverse_each do |participant| %>
    <li><%= link_to "#{participant.chatroom.name}", chatroom_path(participant.chatroom)  %></li>
  <% end %>
</ul>
