<%# <div class="banner-navbar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-contact">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> %>

<body class="body-new-tender">


  <div class="new-tender-form">
   <%= render "form", tender: @tender %>
  </div>
  <div class="new-tender-img">
  </div>


</body>
