<div class="banner banner-services-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509453721491-c3af5961df76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
            <%# <h1>Builder</h1> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="title-services boxed">
  <h1>Take a look at What We are Doing</h1>
  <p>At Anubatir, we put cusotomers' satisfaction first</p>
</div>

<section class="half-image-cont-section dark-mem boxed">
  <div class="image-holder">
    <img src="https://www.jpmorgan.com/content/dam/jpm/commercial-banking/insights/commercial-real-estate/banner-cre-historic-tax-credit-1440x810.jpg" alt="">
  </div>
  <div class="content-holder">
    <div class="inner-content">
      <h1>
        This is What We Do and We Do it Perfectly!
      </h1>
      <h2>Find Work</h2>
      <p>
        Stay on top of thousands of the most updated opportunities. The Anubatir Directory is the best place to find the work you want.
      </p>
      <h2>& more opportunities</h2>
      <p>
        Find thousands of projects with comprehensive and centralized documentation. Anubatir is your one-stop shop to find more work and fill your pipeline.
      </p>
    </div>
  </div>
</section>

<section class="half-image-cont-section boxed">
  <div class="content-holder">
    <div class="inner-content">
      <h1>
        This is What We Do and We Do it Perfectly!
      </h1>
      <h2>Get Listed</h2>
      <p>
        Easily connect with clients looking for expert contractors like you.
      </p>
      <h2>Private Bids</h2>
      <p>
        Reduce costs and stress with this secure, online tendering process. Start using the easiest bidding platform in the industry.
      </p>
    </div>
  </div>
  <div class="image-holder">
    <img src="https://castleconstruction.contractors/wp-content/uploads/2020/05/Structural-Damage-Repair.jpg" alt="">
  </div>
</section>
