<div class="banner banner-services-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1503387762-592deb58ef4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80);">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
            <h1>Construction Build</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="title-services boxed">
  <h1>Take a look at What We are Doing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur impedit ab quae, ducimus corrupti praesentium nulla blanditiis, unde quasi odio assumenda! Eum porro repellat beatae, temporibus modi reprehenderit quos necessitatibus!</p>
</div>

<section class="half-image-cont-section dark-mem boxed">
  <div class="image-holder">
    <img src="https://media.gettyimages.com/photos/black-and-white-portrait-of-two-engineers-discussing-plans-picture-idstk15697wbf?k=20&m=stk15697wbf&s=612x612&w=0&h=54v14i42G-H4cMTzOc9e6-hLN1Oxg7_vncLjqE4voRI=" alt="">
  </div>
  <div class="content-holder">
    <div class="inner-content">
      <h1>
        This is What We Do and We Do it Perfectly!
      </h1>
      <h2>Branding & Identity</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur deleniti cum dolore officiis, accusantium rerum animi voluptatem labore tenetur eaque cumque distinctio alias dolor numquam atque, suscipit, sed modi minus?
      </p>
      <h2>E-Commerce & Marketing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores, nam eveniet, voluptates magni inventore et unde aliquid, saepe laborum earum nemo. Provident voluptates adipisci ab voluptatum? Eligendi, necessitatibus quos.
      </p>
    </div>
  </div>
</section>

<section class="half-image-cont-section boxed">
  <div class="content-holder">
    <div class="inner-content">
      <h1>
        This is What We Do and We Do it Perfectly!
      </h1>
      <h2>Branding & Identity</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur deleniti cum dolore officiis, accusantium rerum animi voluptatem labore tenetur eaque cumque distinctio alias dolor numquam atque, suscipit, sed modi minus?
      </p>
      <h2>E-Commerce & Marketing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores, nam eveniet, voluptates magni inventore et unde aliquid, saepe laborum earum nemo. Provident voluptates adipisci ab voluptatum? Eligendi, necessitatibus quos.
      </p>
    </div>
  </div>
  <div class="image-holder">
    <img src="https://ucbanking.com/public/uploads/headers/_xLarge/iStock-125142278.jpg" alt="">
  </div>
</section>
