<div class="banner banner-services-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1458829267686-b15150d4a28e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
            <h1>Renovation</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="title-services boxed">
  <h1>Take a look at What We are Doing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur impedit ab quae, ducimus corrupti praesentium nulla blanditiis, unde quasi odio assumenda! Eum porro repellat beatae, temporibus modi reprehenderit quos necessitatibus!</p>
</div>

<section class="half-image-cont-section dark-mem boxed">
  <div class="image-holder">
    <img src="https://images.pexels.com/photos/6474122/pexels-photo-6474122.jpeg" alt="">
  </div>
  <div class="content-holder">
    <div class="inner-content">
      <h1>
        This is What We Do and We Do it Perfectly!
      </h1>
      <h2>Branding & Identity</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur deleniti cum dolore officiis, accusantium rerum animi voluptatem labore tenetur eaque cumque distinctio alias dolor numquam atque, suscipit, sed modi minus?
      </p>
      <h2>E-Commerce & Marketing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores, nam eveniet, voluptates magni inventore et unde aliquid, saepe laborum earum nemo. Provident voluptates adipisci ab voluptatum? Eligendi, necessitatibus quos.
      </p>
    </div>
  </div>
</section>

<section class="half-image-cont-section boxed">
  <div class="content-holder">
    <div class="inner-content">
      <h1>
        This is What We Do and We Do it Perfectly!
      </h1>
      <h2>Branding & Identity</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur deleniti cum dolore officiis, accusantium rerum animi voluptatem labore tenetur eaque cumque distinctio alias dolor numquam atque, suscipit, sed modi minus?
      </p>
      <h2>E-Commerce & Marketing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores, nam eveniet, voluptates magni inventore et unde aliquid, saepe laborum earum nemo. Provident voluptates adipisci ab voluptatum? Eligendi, necessitatibus quos.
      </p>
    </div>
  </div>
  <div class="image-holder">
    <img src="https://images.pexels.com/photos/804392/pexels-photo-804392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=10" alt="">
  </div>
</section>
