<div class="banner banner-services-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
          <h1>Terms and conditions</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<section class="half-image-cont-section boxed">

<Br>
<Br>
<Br>
<Br>

<%# <form action="Accept button" method="get">
  <a href="LinkURL" target="_blank">
    <label><input type="checkbox" name="link2" value="link">I Agree to the Terms of Service and I read the Privacy Notice.</label>
  </a>
</form>
        <div class="buttons-terms">
            <button type="submit" class="button">Accept</button>
            <button class="btn gray-btn-terms">Decline</button>
        </div>
    </div> %>
                            <%# </div>
                        </div>
                    </div>
                </div>
            </div>
  </div> %>
<%# </section> %>


         <div class=" ">
            <h2>Terms and conditions of use and service</h2>
            <p>Last Edit: 01/07/2022</p>
            <p>Greetings Users,</p>
<p>All rights reserved Anubatir •2022</p>
<p>1. Anubatir and its digital platform constitute a marketplace and intermediation center.</p>
<p>Anubatir is also a software solutions  provider,  offering  its  users  management  tools  to  simplify  their relationships with Clients and Building, renovation and other construction services.</p>
<p>Through its business activities, Anubatir offers  to connect professional “Builders” with specific skills and “Client-Beneficiaries” requiring external expertise.
<Br>
<Br>
<p>2. Through the Anubatir site (www.anubatir.com) Client-Beneficiaries and Providers can connectand enjoy different services aiming to enable better business relationships </p>
<p>The site offers three main features:</p>
<li>•A professional social network</li>
<li>•An integrated management software package</li>
<li>•A marketplace features</li>
<Br>
 <p>3. By accessing the platform’s features and consulting Request for proposals, the Member accepts these terms and conditions, without reservation.</p>
<p>4. Any response to a bid on the platform entails the establishment of a commercial intermediation contract and any contractual agreement between the Provider and the Client-Beneficiary, in the presence  
of  Anubatir,  not withstanding  project contracts  such as order  forms(PDF), Bid and their specific conditions, which constitute an agreement binding the parties.</p>
<p> Agreement on proof </p>
<p>The Member and Anubatir agree that Anubatir computer systems and files shall prevail</p>
<p>Consequently, the computer files and registers stored within the computer systems operated by Anubatir or on its
 behalf under reasonable conditions of security and reliability may be validly used and produced 
 as proof of the performance of the Contract, and more generally of any event, 
communication or relationship between the Parties arising from the Member’s use of the Site.</p>
<p>Thus, Anubatir may validly produce as part of any procedure, for the purposes of proof of any act,
 fact or omission, the data, files, programs, recordings or other elements, received, issued or stored by 
 means of the aforementioned computer systems,
 on all digital or analog media, and rely on them, except in the case of an obvious mistake</p>
 <Br>
<p>Amendments to the General Conditions</p>
<p>These Terms and Conditions may be amended by Anubatir at any time without notice. 
The last updated date will be mentioned at the beginning of the General Conditions and on the home page of the Site. 
The Member is therefore required to regularly consult the latest version, freely and publicly available and permanently accessible on the home page of the Site, 
by clicking on the link “General Terms & Conditions”. The Member acknowledges that the contact email addresses provided by them constitute the means for sending any notification (legal, for example)
</p>
<Br>
<p>Privacy commitment</p>
<p> Whilst carrying out their projects, Builders and Client-Beneficiaries may be required to consult 
or read confidential information and documents.The content of this article aims to complete the provisions of the business 
intermediation contract linking Anubatir with their co-contractors.It also covers this for the intermediation contract
 ratified by companies joining Anubatir</p>
<Br>
<footer hidden>