.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  position: relative;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 70px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 27px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: 28px;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}



.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.banner-content {
  text-align: center;
}
