.value-sec {
  overflow: hidden;
  padding: 49px 0 54px;
  margin-left: -114px;
  img {
    vertical-align: middle;
    object-fit: cover;
  }

  .header {
    padding: 0 0 0 20px;
    margin: 0 0 48px;
  }

  .heading2 {
    margin: 0 0 20px;
  }

  .choose-list {
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 18px;
  }
}

.header {
  line-height: 30px;
}

.heading2 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 600;
}

.list-unstyled {
  list-style: none;
}
